
<div>
	<hr />
	{% for post in site.posts limit:8 %}
	<div>
		<p class="excerpt">	

		<a class="post-title" href="{{site.baseurl}}{{ post.url }}">
			{{ post.title }}	
		</a>				

		<span class="post-date" >
			Posted on {{ post.date | date_to_string }}			 
		</span>	

		</p>

		<div class="excerpt-post">
			{% if post.description %} 
			<p>{{ post.description }}</p>
			{% else %}
			<p>{{ post.content | strip_html | truncatewords: 5 }}</p>
			{% endif %}
			<p style="text-align:center"><span class="more"><a  href="{{site.baseurl}}{{ post.url }}">阅读全文...</a></span></p>
		</div>
	</div>
	<hr />
	{% endfor %}
</div>


<div class="pagination"><a href="{{ site.baseurl }}/blog.html">文章列表</a></div>

